
@{
    ViewData["Title"] = "SYSTEM JOB LINKS";
}

<h2 style="font-family:sans-serif; font-weight:bold; margin-left:19%;">SYSTEM JOB LINKS MANAGER</h2>
<hr />

<span style="color:blue; font-weight:bold;">Copy System Job Generated Link</span>
<br /><br />

      <span style="color:blue; font-family:sans-serif;"><b>@ViewBag.JobID_Found</b></span>



