@{
    ViewData["Title"] = "Applying Online";
}

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://developers.camelotwave.com/jquery_cookie_asp.js" type="text/javascript"></script>
</head>

<div class="container">
    <h2 class="jb_title">--------</h2>
    <div class="panel panel-default">
        <div class="panel-heading"><b>Duty Station :</b> <span class="dty_station">---</span> <span class="jb_deadline" style="float:right;"></span><span style="float:right;"><b>Deadline : </b></span></div>
        <div class="panel-body">
           <b>Maximum Qualification : </b><b><span class="jb_qualify">---</span></b>
            <hr />
            <h4>Job Description</h4>
            <br /><br />
            <span class="jb_descrip"></span>
        </div>
    </div>
</div>

<script>
  var CurrentJob=JSON.parse($.cookie("applying_job"));$(".jb_title").text(CurrentJob[0][1]);$(".dty_station").text(CurrentJob[0][2]);$(".jb_descrip").text(CurrentJob[0][3]);$(".jb_deadline").text(CurrentJob[0][9]);if(CurrentJob[0][4]==!0){$(".jb_qualify").text("Doctorate Degree")}else if(CurrentJob[0][5]==!0){$(".jb_qualify").text("Masters Degree")}else if(CurrentJob[0][6]==!0){$(".jb_qualify").text("Bachlors Degree")}else if(CurrentJob[0][7]==!0){$(".jb_qualify").text("Diploma")}else if(CurrentJob[0][8]==!0){$(".jb_qualify").text("Certificate")}
</script>

</html>