@model v1jobportal.Models.ApplicantSummary

@{
    ViewData["Title"] = "Create";
}

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link disabled" data-toggle="tab" href="#home">Bio Data</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" data-toggle="tab" href="#profile">Education History</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#">Employment History</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#">Certificates & Awards</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#">Upload Documents</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="#">Summary</a>
        </li>

    </ul>
<hr />

<div class="container">
    <div class="col-md-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ApplicantSummaryData" class="control-label">Enter  any other information that you may regard relevant</label>
                @Html.TextAreaFor(model => model.ApplicantSummaryData, new { placeholder = "Other information...", @class = "form-control" })
            </div>
            <div class="form-group float-md-right">
                <input type="submit" value=" Complete" class="btn btn-success"/>
            </div>
        </form>
    </div>

</div>
<div>
    <!--<a asp-action="Index">Back to List</a>-->
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
