@inject SignInManager<IdentityUser> signInManager;


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0" />-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"] - Job Portal V1</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-validate/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>


    <style>

        .mynav_navbar {
            overflow: hidden;
            background-color: #333;
            font-family: Arial, Helvetica, sans-serif;
        }



            .mynav_navbar a {
                float: left;
                font-size: 16px;
                color: white;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
            }



        .mynav_dropdown {
            float: left;
            overflow: hidden;
        }



            .mynav_dropdown .mynav_dropbtn {
                font-size: 16px;
                border: none;
                outline: none;
                color: white;
                padding: 14px 16px;
                background-color: inherit;
                font-family: inherit;
                margin: 0;
            }



            .mynav_navbar a:hover, .mynav_dropdown:hover .mynav_dropbtn {
                background-color: lightgray;
            }



        .mynav_dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }



            .mynav_dropdown-content a {
                float: none;
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
                text-align: left;
            }



                .mynav_dropdown-content a:hover {
                    background-color: #ddd;
                }



        .mynav_dropdown:hover .mynav_dropdown-content {
            display: block;
        }
    </style>



</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-dark bg-primary">
            <div class="mynav_dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Applications
                </button>

                <div class="mynav_dropdown-content">
                    <a class="dropdown-item" asp-controller="AllJobListings" asp-action="Index">All Job Listings</a>
                    <!--<a class="dropdown-item" asp-controller="ApplicantBioDatas" asp-action="Create">All Job Applications</a>-->
                    <a class="dropdown-item" asp-controller="SubmittedApplications" asp-action="Index">Submitted Applications</a>
                    <a class="dropdown-item" asp-controller="PendingApplications" asp-action="Index">Pending Applications</a>
                    <!--<a class="dropdown-item" asp-controller="Administration" asp-action="ListRoles">Account Management</a>-->
                </div>
            </div>
            <ul class="navbar-nav ml-auto">
                @if (signInManager.IsSignedIn(User))
                {
                    <div class="mynav_dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Settings
                        </button>

                        <div class="mynav_dropdown-content">
                            <a class="dropdown-item" asp-controller="Administration" asp-action="ListRoles">User & Account Management</a>
                            <!--<a class="dropdown-item" asp-controller="ApplicantBioDatas" asp-action="Create">All Job Applications</a>-->
                            <a class="dropdown-item" asp-controller="Account" asp-action="RessetPassword">Password Reset</a>
                            <a class="dropdown-item" asp-controller="AllJobListings" asp-action="JobManagement">Job Management</a>
                            
                        </div>
                    </div>
                    <li class="nav-item">

                        <form method="post" asp-action="logout" asp-controller="account">
                            <button type="submit" class="nav-link btn btn-link py-0" style="width:auto">
                                Logout @User.Identity.Name
                            </button>
                        </form>
                    </li>

                }
                else
                {
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Account" asp-action="register">Register </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Account" asp-action="login">Login</a>
                    </li>
                }
            </ul>
        </nav>
       
    </header>
    <div class="container">
        
       
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade" id="profile">
                <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit.</p>
            </div>
            <div class="tab-pane fade" id="dropdown1">
                <p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork.</p>
            </div>
            <div class="tab-pane fade" id="dropdown2">
                <p>Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out master cleanse gluten-free squid scenester freegan cosby sweater. Fanny pack portland seitan DIY, art party locavore wolf cliche high life echo park Austin. Cred vinyl keffiyeh DIY salvia PBR, banh mi before they sold out farm-to-table VHS viral locavore cosby sweater.</p>
            </div>

            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2019 - v1jobportal - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>

    </footer>
    <script>
        function myFunction() {
            var x = document.getElementById("myTopnav");
            if (x.className === "topnav") {
                x.className += " responsive";
            } else {
                x.className = "topnav";
            }
        }

        function startAction(cityName)
        {
            var i;
            var x = document.getElementsByClassName("action");

            for (i = 0; i < x.length; i++)
            {
                x[i].style.display = "none";
            }

            document.getElementById(cityName).style.display = "block";
        }
    </script>
    <script src="~/lib/jqueryui/jquery-ui.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="../_assets/js/custom.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
    </html>
